@import 'breakpoints';

.headerContainer {
    position: relative;

    .headerLogo {
        position: absolute;
        width: 100%;

        // @include breakpoint('lg', 'min') {
        //     width: 70%;
        // }
    }
}
